$gray: #e2e2e2;
$line-height: 1.5;
$red: #f36161;
$green: #3caf3c;
$site-color--main: #00204a;
$site-color--secondary: #005792;
$site-color--tertiary: darken(#00bbf0, 10%);
$site-color--offset: #fdb44b;
$white: #fff;
$text-color: lighten(black, 5%);
$text-color--secondary: lighten($text-color, 15%);


.App {
  display: grid;
  grid-template-columns: 1fr;
}

.soup {
  width: 100px;
}

header, footer {
  background: rgb(23,49,84);
background: radial-gradient(circle, rgba(23,49,84,0.9948354341736695) 9%, rgba(2,0,36,1) 72%);
  color: $white;
  padding: 10px;
  text-align: center;
}

a {
  color: inherit;
  // text-decoration: none;
}


main {
  margin: 0 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  // margin: 0 10px;
  color: $text-color;
}

section > h2:first-child {
  color: $site-color--secondary;
}

.task-details h2, .notes h2 {
  border: none;
}

.header-dropdown {
color: $text-color--secondary;
}

// SiteHeader styles

.site-header {
  margin-bottom: 30px;

  .site-title {
    margin: 10px 0;
  }
}

section {
  margin-bottom: 40px;

  h2 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid $gray;
  }  
}

.site-title {
  font-family: 'Anton';
  letter-spacing: 3px;
  font-weight: 500;
}

// List styles

.officers-list > li, .tasks-list li {
  padding: 20px 0;
  border-bottom: 1px solid lighten($gray, 2%);
}

// Button styles

.savenote-btn, .securitytopic-btn {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid darken($gray, 20%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.savenote-btn {
  margin: 25px 0;
}

// Site Status styles

.site {
  margin-bottom: 25px;

  h3, li {
    margin-bottom: 10px;
  }
}

// Officers styles

.officers-on-shift-number {
  font-size: 1.2rem;
  color: $site-color--offset;
}

.officer-count {
  font-weight: 600;
}

// Tasks

.tasks-list li, .recent-notes li {
  line-height: $line-height;
}

// Notes styles

textarea {
  min-width: 100%;
  border: 1px solid $gray;
  padding: 8px;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: $line-height;  

  &:focus {
    outline: 1px solid darken($gray, 10%);
  }
}

.note-space {
  min-height: 150px;
  font-size: 1rem;
  font-weight: bold;
}

.recent-notes ul li {
    margin-bottom: 25px;
  }


// Topic Generator styles



.security-topic {
  height: 60px;
  line-height: $line-height;
}

@mixin colorArmed($color) {
  color: $color;
  padding: 1px 5px;
  border-radius: 2px;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.site-name .armed {
  @include colorArmed($red)
}

.site-name .unarmed {
  @include colorArmed($green)
}

.site-name {
  color: $site-color--tertiary;
  font-weight: 400;
}

footer {
  font-size: .80rem;
  padding: 15px 0;
}