$section-border__color: #e2e2e2;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin-bottom: 15px;

  h2 {
    margin-bottom: 15px;
  }
}


.section-border {
  border: 1px solid $section-border__color;
}

.note-space {
  min-height: 100px;
}

textarea {
  width: 100%;
}

.tasks li, .officers li {
  border-bottom: 1px solid $section-border__color;
  margin-bottom: 15px;
}