$gray: #e2e2e2;
$line-height: 1.5;

.App {
  display: grid;
  grid-template-columns: 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  margin: 0 10px;
}

.task-details h2, .notes h2 {
  border: none;
}

// SiteHeader styles

.site-header {
  margin-bottom: 30px;

  .site-title {
    margin: 15px 0;
  }
}

section {
  margin-bottom: 15px;

  h2 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid $gray;
  }  
}

// List styles

.officers-list > li, .tasks-list li {
  padding: 20px 0;
}

// Button styles

.savenote-btn, .securitytopic-btn {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid darken($gray, 20%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.savenote-btn {
  margin: 25px 0;
}

// Site Status styles

.site {
  margin-bottom: 25px;

  h3, li {
    margin-bottom: 10px;
  }
}

// Officers styles

.officers-on-shift__number {
  font-size: 1.2rem;
}

// Tasks

.tasks-list li {
  line-height: $line-height;
}

// Notes styles

textarea {
  min-width: 100%;
  border: 1px solid $gray;
  padding: 8px;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.2;  

  &:focus {
    outline: 1px solid darken($gray, 10%);
  }
}

.note-space {
  min-height: 250px;
}

// Topic Generator styles

.security-topic {
  height: 60px;
  line-height: $line-height;
}